@media only screen and (max-width: 1400px){
    body{
        .wrapper{
            width: 90%;
            nav{
                .logo{
                    font-size: 4vw;
                }
                .searchBar{
                    left: 50%;
                }
                .favorite{
                    right: 80px;
                }
            }
            .content{
                .sideNav{
                    ul{
                        li{
                            font-size: 1.2vw;
                        }
                    }
                }
                #gifWrapper{
                    .title{
                        font-size: 3vw;
                    }
                }
            }
            .sticky{
              width: 90%;
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    body{
        .wrapper{
            nav{
                .favorite{
                    right: 50px;
                }
            }
            .content{
              .sideNav{
                ul{
                  padding-left: 0;
                  list-style: none;
                  li{
                    font-size: 1.7vw;
                  }
                }
              }
            }
            .sticky{
              padding: 20px;
            }
        }
    }
}

@media only screen and (max-width: 768px){
  body{
    .wrapper{
      nav{
        padding: 30px 0;
        .logo{
          font-size: 6vw;
        }
        .searchBar{
          width: 50%;
          left: 53%;
          opacity: 1;
          input{
            padding: 10px;
          }
          .searchBar_btn{
            height: 36px;
            width: 36px;
          }
        }
        .favorite{
          right: 30px;
          .fa-heart{
            font-size: 30px;
          }
        }
      }
      .sticky{
        padding: 15px;
      }
    }
  }
}

@media only screen and (max-width: 414px){
  body{
    .wrapper{
      width: 100%;
      nav{
        padding: 15px;
        overflow: visible;
        .logo{
          font-size: 7vw;
        }
        .searchBar{
          width: 90%;
          opacity: 0;
          overflow: hidden;
          top: 90px;
          z-index: 999;
          position: absolute;
          left: 50%;
          transition: opacity .3s;
          border-radius: 25px;
          .searchBar_btn{
            right: 0;
            width: 35.5px;
            height: 35.5px;
          }
        }
        .search_btn{
          color: $green;
          float: right;
          position: absolute;
          right: 90px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          cursor: pointer;
          .fa-search{
            font-size: 6vw;
          }
        }
        .favorite{
          right: 55px;
          .fa-heart{
            font-size: 6vw;
          }
        }
        .navMenu_btn{
            position: absolute;
            width: 30px;
            height:30px;
            overflow: hidden;
            float: right;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            display: block;
            // background: pink;
            input{
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 3;
                cursor: pointer;
            }
            span{
              height: 4px;
              width: 100%;
              background: white;
              margin: 4px 0;
              display: block;
              transition: transform 0.3s ease-in-out, opacity 0.3s;
            }
        }
        // .navMenu_btn input:checked ~ span{
        //   // background: green;
        // }
        .navMenu_btn input:checked ~ span:nth-child(2){
          transform: rotate(45deg) translate(7px, 7px);
        }
        .navMenu_btn input:checked ~ span:nth-child(3){
          opacity: 0;
        }
        .navMenu_btn input:checked ~ span:nth-child(4){
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }
      .sticky{
        width: 100%;
      }
      .content{
        .sideNav{
          height: 0px;
          overflow: hidden;
          transition: all 0.3s ease-in-out;
          z-index: 9;
          background: $bgColor;
          width: 100%;
          left: 0;
          // top: 0;
          ul{
            li{
              font-size: 3vw;
              display: inline-block;
            }
          }
        }
        #gifWrapper{
          width: 100%;
          padding-top: 10%;
          overflow: hidden;
          height: auto;
          left: 0;
          z-index: -1;
          .title{
            font-size: 5vw;
          }
        }
      }
    }
  }
}
