body {
  background: black;
  border: 1px solid black;
  text-align: center; }
  body h1 {
    margin-top: 200px;
    color: red; }
    body h1:hover {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg);
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
  body .testObj ul li {
    color: blue;
    width: 100px;
    margin: 0 auto; }
